[Unit]
Description=StealthNET API Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/STEALTHNET-Admin-Panel
Environment="PATH=/opt/STEALTHNET-Admin-Panel/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/opt/STEALTHNET-Admin-Panel/venv/bin/python3 /opt/STEALTHNET-Admin-Panel/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
